* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****************************************************************************************************************************/
/* NAVBAR STARTS */
/****************************************************************************************************************************/

.navbar {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: #ffeeda;
    padding: 1em 10%;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.brand-title a {
    color: #000;
    text-decoration: none;
    transition: color 0.75s;
}

.brand-title a:hover {
    color: #fff;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 50px;
}

.navbar-links li:hover {
    transition: all 3s;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #da8ea2;
    padding: 1rem;
    font-weight: lighter;
    letter-spacing: 0.15em;
    transition: color 0.75s;
}

.navbar-links li a:hover {
    color: #ff7900;
}

.toggle-button {
    display: none;
}

.bar {
    background-color: #000;
    height: 3px;
    width: 35px;
    transition: all 0.75s;
}

.bar-1-active {
    background-color: #fff;
    transform: rotate(-45deg) translate(-30%, 280%);
}

.bar-2-active {
    opacity: 0;
}

.bar-3-active {
    background-color: #fff;
    transform: rotate(45deg) translate(-30%, -280%);
}

@media (max-width: 840px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        position: absolute;
        top: 15px;
        right: 45px;
        display: flex;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links ul li a:hover {
        color: #ff7900;
        transition: color 0.6s;
        background-color: none;
    }

    .navbar-links.active {
        display: flex;
    }
}

/****************************************************************************************************************************/
/* NAVBAR ENDS */
/****************************************************************************************************************************/

.main-content {
    padding: 20px;
}









